@charset "utf-8";
/**
顶部小广告
*/
.w{
 	width: 100%;
}
/* 热卖商品 */
.list_hot_w{
	width:1200px;
	height: 160px;
	margin:0 auto 12px;
	background: #f6f6f6;
}
.hot_i{
	width: 90px;
	height: 97px;
	float: left;
	margin:30px 80px 0px 67px;
	background: url(https://www.lecuntao.com/shop/templates/default/images/ico_hot.png) no-repeat;
	background-size: contain;
}
.list_hot_con{
	margin-top:15px;
	float: left;
}
.list_hot_con dl{
	float: left;
    width: 300px;
    height: 130px;
    background: #fff;
    margin-right: 20px;
}
.list_hot_con dl dt{
	width: 100px;
	height: 100px;
	float: left;
	margin:13px 20px 0px 14px;
}
.list_hot_con dl dt img{
	width: 100px;
	height: 100px;
}
.list_hot_con dl dd{
	float: left;
	width: 140px;
	margin:0;
}
.list_hot_con dl dd h3{
	height: 40px;
	overflow: hidden;
	line-height: 20px;
	padding-top:20px;
}
.list_hot_con dl dd h3:hover a{
	color: #DD0C1D;
}
.list_hot_con dl dd h4{
	height: 20px;
	line-height: 20px;
	color: #f00022;
	font-size: 14px;
	font-weight: 700;
	padding-top:5px;
}
.list_hot_con dl dd p{
	height: 27px;
	padding-top: 7px;
	overflow: hidden;
}
.list_hot_con dl dd p a{
	display: block;
	width: 67px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	background: #f4f4f4;
    border: 1px solid #dddddd;
    text-align: center;
    color: #666666;
    font-size: 12px;
}
/* 商品列表 */
.wrapper{
	width: 1200px;
	margin:0 auto;
}
.left{
	width: 207px;
	float: left;
}
.left_classify{
	border:1px solid #dddddd;
	display: table;
	margin-bottom: 10px;
	background: #ffffff;
}
.left_classify h2{
	width:206px;
	line-height: 35px;
	height: 35px;
	background: #f5f5f5;
}
.left_classify h2 i{
	padding-left: 13px;
	font-size: 14px;
	color: #333333;
}
.left_classify_con{
	display: table;
	padding-right: 10px;
}
.left_classify_inner{
	width:180px;
	display: table;
	border-bottom: 1px dashed #e4e4e4;
	margin-left: 13px;
}
.left_classify_inner h3{
	height: 34px;
    line-height: 34px;
    cursor: pointer;
}
.left_classify_inner h3 b{
	float: right;
    width: 6px;
    height: 10px;
    background: url(https://www.lecuntao.com/shop/templates/default/images/workshop/icon_right.png) no-repeat;
	margin-top: 14px;
	transform: rotate(0deg);
}
.left_classify_inner h3 a{
	font-weight: 700;
}
.left_classify_inner ul{
	padding-bottom: 5px;
	display: none;
}
.left_classify_inner ul li{
	height: 24px;
	line-height: 24px;
	cursor: pointer;
}
.left_classify_inner ul li i{
	width: 4px;
	height:4px;
	background: #cccccc;
	display: inline-block;
	margin:10px 9px 0px 1px;
}
.left_classify_inner ul li a{
	float: left;
	color: #555;
	font-size: 12px;
}
.nch-module{
	margin-top:10px;
	border:1px solid #D7D7D7;
}
.title{
	background: #f5f5f5;
	line-height: 36px;
	height: 36px;
}
.title h2{
	font-size:14px;
}
/* 右边 */
.right{
	width:980px;
	float: right;
}
.shop_con_list{
	width:100%;
}
.sort-bar{
	background: #ffffff;
	border:1px solid #e8e8e8;
}
.main-nav{
	width:auto;
}
.filter-top{
	height: 36px;
	background: #f5f5f5;
	border:1px solid #e8e8e8;
	width:100%;
}
.pagination{
	width:134px;
	float: right;
	margin:7px 5px 0 5px;
	padding:0;
}
.pagination ul{
	width:114px;
	float: right;
	font-size: 0;
}
.pagination ul li{
	margin:0px 2px;
	width: 53px;
	float: left;
	letter-spacing: normal;
	word-spacing: normal;
}
.pagination ul li span{
	font: normal 12px/16px "microsoft yahei";
    color: #AAA;
    background-color: #FAFAFA;
    text-align: center;
    display: block;
    min-width: 16px;
    padding: 2px 6px;
    border: 1px solid #E6E6E6;
    position: relative;
    z-index: 1;
}
.pagination ul p{
	color: #000;
	font-size: 16px;
	padding:0 5px;
}
.pagination ul p i{
	color: #ff0000;
}
.nch-sortbar-array{
	margin-right: 20px;
	padding:0 0 0 10px;
	font-size: 12px;
	line-height: 36px;
	color: #777;
	display: inline-block;
	vertical-align:top;
	float: left;
}
.nch-sortbar-array ul{
	line-height: 23px;
	height: 23px;
	float: left;
	font-size: 0;
	vertical-align: middle;
	display: inline-block;
	margin-top:6px;
	
}
.nch-sortbar-array ul li{
	width:52px;
	padding-left: 20px;
	text-align: center;
	font-size: 12px;
	float: left;
	border:1px solid #dddddd;
	background: #ffffff;
	position: relative;
}
.nch-sortbar-array ul li:hover{
	background-color: #f61228;
}
.nch-sortbar-array ul .select{
	background-color: #f61228;
}
.nch-sortbar-array ul .select a{
	color: #fff;
}
.nch-sortbar-array ul li a{
	display: block;
}
.nch-sortbar-array ul li:hover a{
	color: #fff;
}
.nch-sortbar-array ul li a i{
	position: absolute;
	right:7px;
	vertical-align: middle;
	background: url(https://www.lecuntao.com/shop/templates/default/images/2017shop_background_img.png) no-repeat 0px -11px;
	display: block;
	width:7px;
	height:8px;
	margin:8px 0px 0px 0px;
}
/* 列表 */
.list_pic{
	display: block;
	width:1000px;
	margin-left: -13px;
}
.list_pic li{
	font-size: 12px;
	vertical-align: middle;
	display: inline-block;
	width:234px;
	height: 419px;
	margin:14px 0px 0px 14px;
	float: left;
}
.goods-content{
	line-height: 18px;
	background: #fff;
	width:232px;
	height: 417px;
	border: solid 1px #fff;
	border-radius: 2px;
	position: relative;
}
.goods-content:hover{
	border:1px solid #eee;
}
.goods-pic{
	position: relative;
    background: #FFF;
    width: 210px;
    height: 210px;
    z-index: 1;
    top: 0;
    left: 0;
    margin: 10px 0 0 10px;
}
.goods-pic a{
	width:210px;
	height: 210px;
	position: absolute;
    left: 0;
    top: 0;
    z-index: 11;
    line-height: 210px;
    text-align: center;
    vertical-align: middle;
}
.goods-pic a img{
	width:210px;
	height: 210px;
}
.goods-info{
	width: 230px;
}
.goods-pic-scroll-show{
	background: rgba(255,255,255,0.9);
    width: 212px;
    height: 30px;
    padding: 5px 10px;
}
.goods-pic-scroll-show ul{
	width:180px;
	height: 30px;
	overflow: hidden;
}
.goods-pic-scroll-show ul li{
	width:26px;
	height: 26px;
	overflow: hidden;
	margin:0px;
}
.goods-pic-scroll-show ul li a{
	border:1px solid #fff;
	display: block;
	width:24px;
	height: 24px;
	text-align: center;
}
.goods-pic-scroll-show ul li img{
	width:22px;
	height: 22px;
}
.goods-pic-scroll-show ul .selected a{
	border-color: #D93600;
    transition: border-color 0.4s ease-in-out 0s;
}
.goods-price{
	width:213px;
	font-size: 14px;
	line-height: 20px;
	color: #f00022;
	height: 20px;
	padding: 0 10px 5px;
    overflow: hidden;
}
.goods-price em:first-child{
	font-size: 18px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 120px;
    float: left;
}
.goods-price em:nth-child(2){
	color: #999;
    text-decoration: line-through;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 120px;
    float: left;
    margin-left: 10px;
    overflow: hidden;
}
.goods-name{
	width: 212px;
    font-size: 12px;
    line-height: 20px;
    color: #333;
    background-color: #FFF;
    height: 40px;
    display: block;
    padding: 0 10px;
    overflow: hidden;
}
.sell-stat{
	width: 213px;
    padding: 0 10px;
    overflow: hidden;
}
.sell-stat span:nth-child(2){
	color: #ff6e17;
    padding-left: 6px;
    font-weight: 400;
}
.l-commit{
	width: 213px;
    padding: 0 10px;
    height: 26px;
    overflow: hidden;
    padding-top: 8px;
}
.l-adds{
	width: 210px;
    height: 23px;
    line-height: 23px;
    border: 1px solid #dddddd;
    margin-left: 10px;
}
.add-collection{
	display: block;
    float: left;
    width: 95px;
    height: 23px;
    border-right: 1px solid #dddddd;
    color: #666666;
    cursor: pointer;
}
.l-adds i{
	display: inline-block;
    float: left;
    width: 14px;
    height: 14px;
	background: url(https://www.lecuntao.com/shop/templates/default/images/2017shop_background_img.png) no-repeat -52px -116px;
	margin: 4px 5px 0 13px;
}

.add-cart{
	display: block;
	float: left;
	display: inline-block;
}
.add-carts{
	width: 100px;
    font-weight: 400;
    font-size: 12px;
    color: #f00022;
    display: block;
}
.add-carts i{
	display: inline-block;
    float: left;
    width: 14px;
    height: 14px;
	background: url(https://www.lecuntao.com/shop/templates/default/images/2017shop_background_img.png) no-repeat -52px -138px;
	margin: 4px 5px 0 13px;
}
.search_product{
	width:100%;
	height:110px;
	margin-top: 20px;
	border:1px solid #ffe3b9;
	background-color: #fff1dd;
	clear: both;
}
.search_imgs{
	float: left;
	width:180px;
	height: 85px;
	padding-top:15px;
}
.search_p{
	float: left;
	padding-top: 22px;
}
.search_p p{
	color: #6c6c6c;
	font-size: 14px;
	line-height: 22px;
}
